# Ignore .env file
.env
# Ignore virtual environment directory (venv)
venv/

# Ignore airflow logs
airflow/logs/*
airflow/logs/__pycache__/*
airflow/dags/__pycache__/*

# Ignores dbt logs
dbt/logs/
dbt/target/